<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8" />
      <%- include('styles') -%>
    </head>
    <body>

   
    <div class="chat-popup" id="myForm">
        <form action="/chat" class="form-container">
          <h1>Gift Shop</h1>
              <label for="username"><b>Enter username to connect</b></label>
              <input placeholder="Type your name.." name="username" required />
           <button type="submit" class="btn">Enter</button>
        </form>
      </div>
    </body>
</html>